[submodule "MyHazel/vendor/spdlog"]
	path = MyHazel/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "MyHazel/vendor/GLFW"]
	path = MyHazel/vendor/GLFW
	url = https://github.com/TheCherno/glfw
